body{
    margin: 0;
    padding: 0;

}
.main{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.card{
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
   line-height: 1.3;
}
.card > img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
button{
    width: 40%;
    padding: 15px;
    border: 5px solid white;
    background-color: gray;
    border-radius: 25px;
}
.card:hover{
    transform: rotate(2deg) skew(-1deg, -1deg);
    transition: 0.3s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


.card:hover button {
    background-color: pink;
    color: white;
    cursor: pointer;
}

.card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease;
}
