body{
    margin: 0;
    padding: 0;

}
.main{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.card{
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
   line-height: 1.3;
}
.card > img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.but{
    width: 40%;
    padding: 15px;
    border: 5px solid white;
    background-color: gray;
    border-radius: 25px;
}
.card:hover{
    transform: rotate(2deg) skew(-1deg, -1deg);
    transition: 0.3s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


.card:hover .but {
    background-color: pink;
    color: white;
    cursor: pointer;
}

.card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease;
}

/*  card 2 css  */
.card2 {
    width: 20%;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
   line-height: 1.3;

}
.card2 > img{
    width: 40%;
    
}
.main2{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    font-size: larger;
    height: 500px;
   
}

.btn2 {
    width: 90%;
    padding: 15px;
    border: 5px solid white;
    background-color: black;
    border-radius: 25px;
    color: white;
    font-size: large;
    font-weight: bold;

}
.card2:hover {
    background-color: rgb(202, 20, 120);
    color: white;
    border-color: pink;
}

.card2:hover .btn2 {
    background-color: white;
    color: pink;
    border-color: white;
}
