*{
    padding: 0;
    margin: 10px;
    /* border: 4px solid black; */

}
.head{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 11px;
    line-height: 1.0;
}
.Navbar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav{
    width: 70%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 120px;
    align-items: center;
    padding: 10px;
    border-top:  4px solid  black;
     border-bottom:  4px solid  black;
     font-family: 'Times New Roman', Times, serif;
     font-size: large;

}

.m1{
     width: 100%;
    display: flex;
    justify-content: center;
    
    /* background: #000; */
}
.m-cont{
    display: flex;
    width: 100%;
    justify-content: center;
}
.content{
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: large;
    letter-spacing: 5px;
    text-align: center;
    font-family: monospace;
    line-height: 1.3;
}

