*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
h1{
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
table{
    border: 2px solid white;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.329);

}
th{
    padding: 45px;
}
th, td{
    border: 2px solid rgba(255, 255, 255, 0.61);
    padding: 15px;

}
.h1{
    color : black;
    background: white;
}
.h2{
    color : white;
    background: orange;
}
.h3{
    color : white;
    background: rgb(219, 46, 46);
}
.h4{
    color : white;
    background: skyblue;
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background: red;
    border-radius: 40px;
    border: none;
}
.d1{
    color: orange;
    font-size: xx-large;
    font-weight: bold;
}
.d2{
    color: red;
    font-size: xx-large;
    font-weight: bold;
}
.d3{
    color: skyblue;
    font-size: xx-large;
    font-weight: bold;
}